<html>

<head>
<title>Florida SEACAR GitHub Index</title>
<!--begin.rcode navbar, echo=F
htmltools::includeHTML("navbar.html")
end.rcode-->
</head>

<body>

<div class="body_text">
  <p>Welcome to the Florida SEACAR GitHub index!</p>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In fermentum consequat justo, quis vehicula velit luctus eget. Cras lobortis lectus sem, ac imperdiet ligula gravida ut. Nullam sit amet massa a ex aliquam blandit nec ut dui. Nunc non mauris dapibus, elementum quam at, suscipit turpis. Morbi at maximus dui. Suspendisse potenti. Vestibulum et arcu eu turpis imperdiet fringilla luctus et metus. Quisque convallis in dui at ultrices. Ut sit amet ipsum ornare, varius enim quis, fermentum nulla. Phasellus lacinia dui eu tristique posuere. Pellentesque et dui eu ipsum interdum efficitur.

Donec finibus turpis sed nisi volutpat, ut consequat ipsum dapibus. Aliquam erat volutpat. Aenean at sapien vitae est pellentesque auctor. Curabitur non lectus nisi. Quisque fringilla auctor quam, non pellentesque diam volutpat sit amet. Quisque a mauris ut orci tincidunt consectetur. Fusce eget urna imperdiet, semper nisi ac, pellentesque sapien. Morbi eget sem quis orci convallis imperdiet varius eget ipsum. Sed magna libero, gravida bibendum consectetur sed, elementum non nisi. Sed eget pharetra felis. Nulla porttitor orci eget consectetur cursus. Etiam sagittis turpis ut dui facilisis, non ultricies neque pellentesque. Suspendisse eu odio enim. In hac habitasse platea dictumst.

Donec posuere elit eu velit finibus, non eleifend erat feugiat. Vestibulum consequat nulla lacus, at gravida justo dapibus vel. Praesent nec posuere sapien, quis placerat lorem. Quisque eu neque ante. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse tempor purus eu nibh consectetur blandit. Nullam tempus metus eu purus interdum aliquam. Suspendisse hendrerit fringilla velit, ut laoreet nunc finibus nec. Etiam at nisi auctor, tempus purus eget, pellentesque augue. Nulla facilisi. Praesent vitae cursus erat. Curabitur posuere nisl est.

Proin maximus risus ante, sed tincidunt arcu gravida non. Aenean lacinia nulla vitae augue pellentesque gravida. Cras a ex felis. Duis condimentum nibh at fringilla consequat. Suspendisse non est nunc. Sed pellentesque velit a nisl convallis consequat. Maecenas non enim eu nulla mattis ullamcorper.

Vivamus lobortis ipsum luctus diam viverra pretium. Proin pulvinar enim gravida vehicula ultrices. Nullam blandit dapibus elit vel hendrerit. Quisque quis imperdiet turpis, vel ornare urna. Curabitur lorem ipsum, blandit in metus at, volutpat luctus velit. Vivamus aliquam lobortis tristique. Praesent tempus vestibulum enim, ut semper urna ultrices vitae. Duis congue nunc ac lorem imperdiet placerat. Maecenas quis velit sem. Donec eu dictum turpis. Pellentesque volutpat felis sit amet vestibulum dictum. Maecenas ullamcorper eleifend fringilla.</p>
</div>

<hr>
<div class="funding_text">
<!--begin.rcode funding, echo=F, warning=F
htmltools::includeHTML("funding.html")
end.rcode-->  
  <p class="publish_date">Published: <!--rinline Sys.Date() --></p>
</div>

</body>
</html>
